ion-content{
    --background: transparent;
}

ion-footer{
    margin-bottom: 10px;
}


.image{
    object-fit: fill;
    // width: 600px;
    height: 100%;
    display: block;

}

ion-toolbar {
  --background: rgba(177, 176, 176, 0.5); /* Black see-through */
}


.heart{
    color: red;
}




