<ion-content [fullscreen]="true">
  <div class="container">
    <ion-title class="header">
      Enter your Email
      <p class="subtitle">To receive a reset password link</p>
    </ion-title>
    <form>
      <div class="ion-padding">
        <ion-item>
          <ion-input placeholder="Email" class="input"> </ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <div class="btn">
          <ion-button id="present-alert">Send</ion-button>
          <ion-alert
            trigger="present-alert"
            subHeader="Not Implemented yet"
            [buttons]="alertButtons"
          ></ion-alert>
        </div>
      </div>
      <div class="signuplink">
        <p><a [routerLink]="['/login']">Login</a></p>
      </div>
    </form>
  </div>
</ion-content>
