<ion-header>
  <ion-toolbar>
    <ion-title class="title">Life Catalyst</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <ion-img class="image" src="assets/images/happypeople.jpg"></ion-img>
    <h1 class="text">Welcome to LifeCatalyst</h1>
    <p class="sub">
      Cultivate a positive mindset, overcome challenges and stay focused on your
      aspirations
    </p>
    <ion-button [routerLink]="['/login']">Get Started</ion-button>
  </div>
</ion-content>
