<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']"
        ><ion-icon name="arrow-back-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title class="title">Reset Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <ion-title class="header">
      Enter your Email
      <p class="subtitle">To receive a reset password link</p>
    </ion-title>
    <form>
      <div class="ion-padding">
        <ion-item>
          <ion-input
            [(ngModel)]="email"
            name="email"
            placeholder="Email *"
            class="input"
          >
          </ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <div class="btn">
          <ion-button id="present-alert" (click)="resetPassword()"
            >Send</ion-button
          >
        </div>
      </div>
    </form>
  </div>
</ion-content>
