<ion-header>
  <ion-toolbar>
    <ion-title class="title"> My Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="profile">
    <ion-icon class="person" name="person-circle-outline"></ion-icon>
    <span>{{this.auth.userData.fullname}}</span>

    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="create-outline"></ion-icon> Personal Information
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input
              name="name"
              label="Full Name *"
              value="{{this.auth.userData.fullname}}"
              [(ngModel)]="this.auth.userData.fullname"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="email"
              label="Email *"
              type="email"
              value="{{this.auth.userData.email}}"
              [(ngModel)]="this.auth.userData.email"
              required
            />
          </ion-item>
          <ion-item>
            <label for="bday">BirthDate</label>
            <input
              type="date"
              name="bday"
              id="bday"
              value="{{this.auth.userData.birthDate}}"
              [(ngModel)]="this.auth.userData.birthDate"
            />
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="notifications-circle-outline"></ion-icon> Notification
          Settings</ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <label>Select your prefered times to get notifications</label>
        <ng-select
          class="select"
          [items]="times"
          [multiple]="true"
          [(ngModel)]="this.auth.userData.notificationPreference"
          dropdownPosition="bottom"
          bindValue="id"
          bindLabel="name"
          [searchable]="true"
          appendTo="body"
        >
        </ng-select>
        <br />
      </ion-card-content>
    </ion-card>
    <ion-button class="button" (click)="save()">Save</ion-button>
  </div>
</ion-content>
