<ion-header>
  <ion-toolbar>
    <ion-title class="title"> My Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.auth.signOut()">
        Logout <ion-icon name="log-out-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="profile">
    <ion-icon class="person" name="person-circle-outline"></ion-icon>
    <span>{{this.userData.fullname}}</span>

    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="create-outline"></ion-icon> Personal Information
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input
              name="name"
              label="Full Name *"
              value="{{this.userData.fullname}}"
              [(ngModel)]="this.userData.fullname"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="email"
              label="Email *"
              type="email"
              value="{{this.userData.email}}"
              [(ngModel)]="this.userData.email"
              required
            />
          </ion-item>
          <ion-item>
            <label for="bday"
              >BirthDate
              <input
                class="bday_input"
                type="date"
                name="bday"
                id="bday"
                value="{{this.userData.birthDate}}"
                [(ngModel)]="this.userData.birthDate"
              />
            </label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="notifications-circle-outline"></ion-icon> Notification
          Settings</ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <label
          >Select your prefered times to get notifications
          <ng-select
            [name]="controlName"
            class="select"
            [items]="times"
            [multiple]="true"
            [(ngModel)]="this.userData.notificationPreference"
            dropdownPosition="bottom"
            bindValue="id"
            bindLabel="name"
            [searchable]="true"
            appendTo="body"
          >
          </ng-select>
        </label>

        <br />
      </ion-card-content>
    </ion-card>
    <ion-button class="button" (click)="save()">Save</ion-button>
  </div>
</ion-content>
