.emotions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.row1, .row2{
    display: flex;

}

i{
    color: rgb(251, 218, 28);
    font-size: 20px;
}

.card-emotions{
    height: 100%;
    text-align: center;
   
}


