.img{
    width:95%;
}

.container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

}

.quote{
    font-size: 25px;

}

.title{
    text-align: center;
}

.author{
    font-size: 20px;
    font-style: italic;
}