<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        Logout <ion-icon name="log-out-outline"></ion-icon
      ></ion-button>
    </ion-buttons>

    <ion-title class="title">Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card class="card-emotions">
      <ion-card-header>
        <ion-card-title>How are you feeling today?</ion-card-title>
      </ion-card-header>
      <div>
        <ion-card-content>
          <h2>
            Hi {{ this.userData?.fullname?.split(" ")[0] }}! Select one of the
            emotions that describe your mood lately
          </h2>
        </ion-card-content>
        <div class="emotions">
          <div class="row1">
            <ion-button
              fill="clear"
              [routerLink]="['/tabs/quotes', 'inspiration']"
              ><i class="fa-solid fa-face-smile-beam"></i
            ></ion-button>
            <ion-button fill="clear" [routerLink]="['/tabs/quotes', 'change']"
              ><i class="fa-solid fa-face-laugh-beam"></i
            ></ion-button>
            <ion-button fill="clear" [routerLink]="['/tabs/quotes', 'success']"
              ><i class="fa-solid fa-face-grin-stars"></i
            ></ion-button>
            <ion-button
              fill="clear"
              [routerLink]="['/tabs/quotes', 'confidence']"
              ><i class="fa-solid fa-face-grin-hearts"></i
            ></ion-button>
            <ion-button fill="clear" [routerLink]="['/tabs/quotes', 'anxiety']"
              ><i class="fa-solid fa-face-tired"></i
            ></ion-button>
          </div>
          <div class="row2">
            <ion-button
              fill="clear"
              [routerLink]="['/tabs/quotes', 'inspiration']"
              ><i class="fa-solid fa-face-sad-tear"></i
            ></ion-button>
            <ion-button
              fill="clear"
              [routerLink]="['/tabs/quotes', 'confidence']"
              ><i class="fa-solid fa-face-rolling-eyes"></i
            ></ion-button>
            <ion-button fill="clear" [routerLink]="['/tabs/quotes', 'failure']"
              ><i class="fa-solid fa-face-sad-cry"></i
            ></ion-button>
            <ion-button fill="clear" [routerLink]="['/tabs/quotes', 'life']"
              ><i class="fa-solid fa-face-angry"></i
            ></ion-button>
            <ion-button
              fill="clear"
              [routerLink]="['/tabs/quotes', 'inspiration']"
              ><i class="fa-solid fa-face-dizzy"></i
            ></ion-button>
          </div>
        </div>
      </div>
    </ion-card>

    <ion-card class="card" [routerLink]="['/tabs/videos', 'meditation']">
      <div class="image">
        <img
          alt="a boy with earphones, doing meditation"
          src="assets/images/sammy-meditation.png"
        />
      </div>

      <ion-card-header>
        <ion-card-title>Meditation</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Practice breathing exercises to calm yourself and grab positive energy
      </ion-card-content>
    </ion-card>

    <ion-card class="card" [routerLink]="['/tabs/resources']">
      <div class="image">
        <img
          alt="three people staying at home"
          src="assets/images/resources.png"
        />
      </div>

      <ion-card-header>
        <ion-card-title>Resources</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Find useful resources like counseling sessions and self-care tips
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
