<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']"
        ><ion-icon name="arrow-back-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title class="title">SignUp</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-img class="image" src="assets/images/sammyPlay.png"></ion-img>

  <div class="container">
    <div class="header">
      <p class="subtitle">
        Sign up to reframe your mind and encourage your growth
      </p>
    </div>

    <form>
      <div class="ion-padding">
        <ion-item>
          <ion-input placeholder="Name" class="input"> </ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Email" class="input"> </ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Password" class="input"> </ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-item>
        <div class="signinlink">
          <p>Already a member?<a [routerLink]="['/login']">Login</a></p>
        </div>
        <div class="btn">
          <ion-button [routerLink]="['/tabs']">Signup</ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
