<ion-header>
  <ion-toolbar>
    <ion-title class="title">Resources</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.auth.SignOut()">
        Logout <ion-icon name="log-out-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card
      class="card"
      href="https://www.psychologytoday.com/us/therapists"
      target="_blank"
    >
      <div class="image">
        <img
          alt="two people, talking to each other"
          src="assets/images/counseling.png"
        />
      </div>

      <ion-card-header>
        <ion-card-title>Counseling Sessions</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Search counseling sessions near you to find someone who can listen to
        your problems
      </ion-card-content>
    </ion-card>
    <ion-card
      class="card"
      href="https://www.goodtherapy.org/blog/134-activities-to-add-to-your-self-care-plan/"
      target="_blank"
    >
      <div class="image">
        <img alt="a girl hugging herself" src="assets/images/selfcare.webp" />
      </div>

      <ion-card-header>
        <ion-card-title>Self-Care</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Learn some tips and tricks to relax and tak care of yourself
      </ion-card-content>
    </ion-card>

    <ion-card
      class="card"
      href="https://www.samhsa.gov/mental-health/myths-and-facts"
      target="_blank"
    >
      <div class="image">
        <img
          alt="a person looking inside his brain"
          src="assets/images/mentalhealth.png"
        />
      </div>

      <ion-card-header>
        <ion-card-title>Facts</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Some facts and myths about mental health
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
