<ion-header>
  <ion-toolbar>
    <ion-title class="title">Videos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)=" this.auth.signOut()">
        Logout <ion-icon name="log-out-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="tags">
    <div *ngFor="let tag of tags">
      <ion-chip class="tag" *ngIf="tag===selectedTag" (click)="this.select(tag)"
        >{{tag}}</ion-chip
      >
      <ion-chip
        class="tag"
        *ngIf="tag!==selectedTag"
        [outline]="true"
        (click)="this.select(tag)"
        >{{tag}}</ion-chip
      >
    </div>
  </div>
  <ion-content class="container">
    <div class="videos">
      <div class="one-video" *ngFor="let video of filteredVideos">
        <iframe [src]="showVideo(video.url)"> </iframe>
      </div>
    </div>
  </ion-content>
</ion-content>
