
.one-video{
    margin: 5px;
}

@media(min-width: 0px){
    .videos{
        column-count: 1;

    }
}

@media(min-width: 420px){
    .videos{
        column-count: 2;

    }
}
@media(min-width: 720px){
    .videos{
        column-count: 3;

    }
}


.videos{
   margin: 10px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;

}

.tags{
    margin-top: 5px;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .tag{
        text-transform: capitalize;
    }
}

.container{
    margin-bottom: 10px;
}